**/[Bb]in/
**/[Oo]bj/
**/[Pp]ackages/
**/[Dd]ebug/
**/[Rr]elease/
project.lock.json
project.assets.json
*.nuget.props
*.nuget.targets
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
*.log
*.temp
*.tmp
*.testresult
*.DotSettings.user
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
federacao.db
federacao.db-shm
federacao.db-wal
secrets.json
.idea/
*.sln.iml